body {
  text-align: center;
  background-color: rgb(244, 234, 255);
}

h1 {
  color: rgb(88, 49, 196);
  font-style: bold;
  font-size: 52px;
}

header img {
  height: 150px;
  width: auto;
  padding: 20px;
  margin: 20px;
}

main {
  color: white;
  width: 800px;
  background-color: purple;
  text-align: left;
  padding-left: 20px;
  padding-right: 20px;
  margin: auto;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  padding: 15px;
}

button {
  background-color: rgb(241, 171, 31);
  padding: 12px;
  border: 1px;
  border-radius: 10px;
  margin: 10px;
}

footer {
  color: rgba(33, 31, 31, 1);
  font-size: 14px;
}
