body {
  text-align: center;
  background-color: rgb(187, 187, 250);
}

h1 {
  color: purple;
  font-style: bold;
  font-size: 36px;
}

img {
  height: 150px;
  width: auto;
  padding: 20px;
  margin: 20px;
}

main {
  color: white;
  width: 800px;
  background-color: purple;
  text-align: left;
  padding: 20px;
  margin: 20px'
}

ul {
  list-style-type: none;
  padding: 15px;
}

button {
  background-color: rgb(241, 171, 31);
  padding: 12px;
  border: 1px;
  border-radius: 10px;
  margin: 10px;
}

footer {
  color: rgba(33, 31, 31, 1);
  font-size: 14px;
}
