body {
  text-align: center;
  background-color: rgb(244, 234, 255);
}

header {
  padding: 32px;
}

h1 {
  color: rgb(88, 49, 196);
  font-style: bold;
  font-size: 52px;
}

header img {
  width: 300px;
}

main {
  color: rgb(248, 241, 255);
  width: 700px;
  background-color: rgb(122, 74, 218);
  text-align: left;
  padding: 32px;
  margin: 32px auto;
  border: 1px solid black;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

ul {
  margin: 0;
  list-style: none;
  padding: 0;
}

li {
  margin: 14px 0;
  padding-left: 10px;
  border-left: 5px solid transparent;
}

a {
  color: rgb(36, 3, 102);
  background-color: rgb(255, 237, 177);
  text-decoration: none;
  padding: 2px 6px;
  border-radius: 4px;
}

a:hover,
a:active {
  background-color: rgb(250, 201, 39);
}

button {
  background-color: rgb(241, 171, 31);
  padding: 12px;
  border: 1px;
  border-radius: 10px;
  margin: 10px;
}

footer {
  color: rgba(33, 31, 31, 1);
  font-size: 14px;
}

.extra-important {
  color: rgb(255, 237, 177);
  border-color: rgb(247, 209, 85);
}

.highlight {
  font-weight: bold;
}
